@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"); /* fonte */

:root {
  /* Color Pallet */
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);

  --font: "Figtree", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 384px;
  height: 522px;
  max-width: 90%;
  background-color: var(--White);
  padding: 24px 24px;
  border-radius: 20px;
  border: 1px solid var(--Gray-950);
  cursor: pointer;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  box-shadow: 8px 8px 0px var(--Gray-950);
}

.card-title {
  transition: color 0.3s ease-out;
}

/* efeitos hover */
.card:hover {
    transform: translate(-8px, -8px);
    box-shadow: 16px 16px 0px var(--Gray-950);
}

.card:hover .card-title {
  color: var(--Yellow);
}

.img-article img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.tag {
  background-color: var(--Yellow);
  font-family: var(--font);
  color: var(--Gray-950);
  padding: 4px 12px;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 800;
}

.card-date {
  font-family: var(--font);
  color: var(--Gray-950);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
  margin-bottom: 12px;
}

.card-title {
  font-family: var(--font);
  color: var(--Gray-950);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 800;
  margin-bottom: 12px;
}

.card-text {
  font-family: var(--font);
  color: var(--Gray-500);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
  margin-bottom: 12px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
    
}
.profile img {
    width: 32px;
    height: 32px;
}      

.profile span {
    font-family: var(--font);
    font-weight: 800;
    font-size: 14px;
    color: var(--Gray-950);
}